@{
    ViewData["Title"] = "About Company";
}
<h2>@ViewData["Title"]</h2>
<p>
    This platform, is a global freelancing platform where businesses and independent professionals connect and collaborate remotely It is based in Yerevan. The full name is HighWork Global Inc.

    Platform has some test registered freelancers and  clients. Some jobs are posted annually, worth a total of $1 billion USD, making it the largest freelancer marketplace in the Armenia.
</p>
<p>
    Platform allows clients to interview, hire and work with freelancers and agencies through the company's platform.
    The platform will include a real-time chat platform aimed at reducing the time to find and hire freelancers.

    The platform will offer a time sheet application that tracks time and takes screenshots while the freelancer is working.
</p>
<h2>Help for freelancers</h2>
<p>
    Where can you get the ideal work or client? If you’re a freelancer, we can help point you in the right direction.

    We know that freelance work has its perks and securing customers isn’t one of them. Marketing your services is indeed one of the most tedious tasks that you can face. This is where freelance websites come in.

    However, websites offering freelance work come at varying degrees of reach, work types and payment terms. If you’re not careful, you can end up wasting time, effort and, worse, money on platforms with questionable standing.
</p>