
@using Microsoft.AspNetCore.Identity
@using MVC.Data
@using System.Security.Claims;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model Core.Models.BusinessModels.WorkModel

@{
    ViewData["Title"] = "JobDetails";
}

<h2>Details</h2>
@{
    Roles? userRole = null;
    if (User != null && User.Identity != null)
    {
        var claim = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier);
        User user;
        if (claim != null)
        {
            user = UserManager.FindByIdAsync(claim.Value).Result;
            userRole = user.Role;
        }
    }
}

<h4>@Html.DisplayFor(model => model.Header)</h4>
<p style="font-size:15px">@Html.DisplayFor(model => model.Description)</p>
<div>

    @if (userRole == Roles.Freelancer)
    {
        <button type="button" class="btn btn-success">@Html.ActionLink("Apply", "ApplyHire", new { id = Model.Id })</button>
    }
</div>
<div>
    <button type="button" class="btn btn-dark">@Html.ActionLink("Back to list", "Jobs", new { })</button>

</div>
